Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
*.lib
*.sbr
*.orig
obj/
*.vssscc
$tf*/
packages/*
!packages/repositories.config
*/FakesAssemblies/*
/*.vsp
/*.psess

error-*.xml
*.js.map
*.js